In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

In [10]:
df = pd.read_csv("kcy_df25.csv")
df.dropna(inplace = True)
df.reset_index(inplace = True, drop = True)
df.drop(["Unnamed: 0", "customerID"], axis = 1, inplace = True)
df

,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,target
0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,1,1,0,1,0,0,0,1,0,3,56.95,1889.50,0
2,1,0,0,0,2,1,0,1,1,1,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,0,1,1,0,1,1,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,2,0,0,0,0,0,0,0,1,2,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7006,0,0,0,0,51,1,0,0,2,2,2,2,2,2,2,0,0,20.65,1020.75,0
7007,0,0,1,1,72,1,1,2,0,1,1,0,1,1,1,1,1,103.20,7362.90,0
7008,0,0,1,1,11,0,0,1,1,0,0,0,0,0,0,1,2,29.60,346.45,0
7009,1,1,1,0,4,1,1,2,0,0,0,0,0,0,0,1,3,74.40,306.60,1
7010,1,0,0,0,66,1,0,2,1,0,1,1,1,1,2,1,0,105.65,6844.50,0

In [11]:
for col in df.columns:
    if df[col].dtype == "object":
        encoder = LabelEncoder()
        df[col] = encoder.fit_transform(np.array(df[col]).reshape(-1, 1))
df.to_csv("kcy_df25.csv", index = False)

In [5]:
temp = df.sample(frac = 10000 / len(df))
df = pd.concat([df, temp]).drop_duplicates(keep = False)

for col in temp.columns:
    if temp[col].dtype == "object":
        encoder = LabelEncoder()
        temp[col] = encoder.fit_transform(np.array(temp[col]).reshape(-1, 1))

for col in df.columns:
    if df[col].dtype == "object":
        encoder = LabelEncoder()
        df[col] = encoder.fit_transform(np.array(df[col]).reshape(-1, 1))

df.to_csv("kcy_df24(res).csv", index = False)
temp.to_csv("kcy_df24.csv", index = False)